<link rel="stylesheet" href="/css/delete-modal.css" />
<div class="card" id="delete-modal">
  <h2>Delete Confirmation</h2>
  <p>Are you sure you want to delete <span class="delete-food-title">THE FOOD</span>?</p>
  <div class="button-holder">
    <button class="secondary-button">Delete</button>
    <button class="primary-button">Cancel</button>
  </div>
</div>
