<footer>
  <div class="link-holder">
    <a class="icon-github" href="https://github.com/jellyrolljunior" target="”_blank”"></a>
    <a class="icon-linkedin" href="https://www.linkedin.com/in/jellyrolljunior/" target="”_blank”"></a>
    <a class="icon-instagram" href="https://www.instagram.com/river.flows__" target="”_blank”"></a>
  </div>
  Created by JellyRollJunior (Brandon Lin)
</footer>
