<script src="/js/nav.js" defer></script>
<nav>
  <div class="nav-header">
    <a href="/" class="bold text-2x">Foods of Taiwan</a>
    <button class="menu-button">
      <img src="/assets/menu.svg" alt="menu icon">
    </button>
  </div>
  <div class="menu-links hidden">
    <a href="/">Home</a>
    <a href="/foods">Foods</a>
    <a href="/">Categories</a>
  </div>
</nav>