<nav>
  <div class="nav-header">
    <a href="/" class="bold text-2x">Statistics</a>
    <button class="menu-button">
      <img src="/assets/menu.svg" alt="menu icon">
    </button>
  </div>
  <div class="menu-links">
    <a href="/">Home</a>
    <a href="/">Foods</a>
    <a href="/">Categories</a>
  </div>
</nav>
