<link rel="stylesheet" href="/css/nav.css">
<script src="/js/nav.js" defer></script>
<nav>
  <div class="nav-header">
    <h1><a href="/" class="bold text-2x">Foods of Taiwan</a></h1>
    <button class="menu-button">
      <img src="/assets/menu.svg" alt="menu icon">
    </button>
  </div>
  <div class="menu-links">
    <a href="/">Home</a>
    <a href="/foods">Foods</a>
    <a href="/categories">Categories</a>
  </div>
</nav>