<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/form-holder.css" />
    <title>Foods of Taiwan</title>
  </head>
  <body>
    <div>
      <%- include ('partials/nav.ejs') %>
      <main>
        <div class="form-holder">
          <h2 class="card center-text">Edit Category</h2>
          <%- include ('partials/error.ejs') %>
          <%- include ('partials/categoryForm.ejs') %>
        </div>
      </main>
    </div>
    <%- include ('partials/footer.ejs') %>
  </body>
</html>
