<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include ('partials/nav.ejs') %>
    <main>
      <div class="card">
        <div class="text-2x bold light-gray">Foods</div>
        <div class="text-3x bold"><%= countFood %></div>
        <div class="light-gray">Total food entries</div>
      </div>
      <div class="card">
        <div class="text-2x bold light-gray">Categories</div>
        <div class="text-3x bold"><%= countCategories %></div>
        <div class="light-gray">Different types of food</div>
      </div>
    </main>
  </body>
</html>
