<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include ('partials/nav.ejs') %>
    <main>
      <section class="card">
        <a href="/foods">
          <h2 class="text-2x bold black">Foods</h2>
          <h3 class="text-3x bold blue"><%= countFood %></h3>
          <h4 class="text-rem black">Total food entries</h4>
        </a>
      </section>
      <section class="card">
        <a href="/categories">
          <h2 class="text-2x bold black">Categories</h2>
          <h3 class="text-3x bold blue"><%= countCategories %></h3>
          <h4 class="text-rem black">Different types of food</h4>
        </a>
      </section>
      <section class="add-button-holder">
        <button class="add-button primary-button">
          <a class="text-sm" href="/foods/add">Add New Food</a>
        </button>
      </section>
      <section class="add-button-holder">
        <button class="add-button primary-button">
          <a class="text-sm" href="/categories/add">Add New Category</a>
        </button>
      </section>
    </main>
  </body>
</html>
