form {
  padding-bottom: 24px;
}

form .card {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

form .card label {
  margin-top: 16px;
}

form select {
  min-height: 32px;
}

form #description {
  min-height: 180px;
  padding: 2px 2px 2px 6px;
  resize: vertical;
}

.form-button-holder {
  --button-height: 36px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 25px;
  gap: 12px;
}

.form-button-holder > * {
  height: var(--button-height);
}

input,
select,
textarea {
  border: 1px solid;
  border-radius: 2px;
}