html {
  display: flex;
  justify-content: center;
  align-items: start;

  font-size: 18px;
  background-color: rgb(251, 219, 219);
}

body {
  flex: 1;
  min-height: 100vh;
  max-width: 1000px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.center-text {
  text-align: center;
}

.text-rem {
  font-size: 1rem;
}

.text-sm {
  font-size: 1.1rem;
}

.text-sm-plus {
  font-size: 1.3rem;
}

.text-2x {
  font-size: 1.4rem;
}

.text-3x {
  font-size: 2rem;
}

.bold {
  font-weight: 700;
}

.black {
  color: black;
}

.blue {
  color: #3838de;
}

main {
  padding: 1px;
}

.primary-button {
  color: white;
  background-color: #3838de;
  border: none;
  border-radius: 8px;
}

.primary-button a {
  text-decoration: none;
  color: white;
}

.secondary-button {
  color: #fe0000;
  background-color: white;
  border: 2px solid #fe0000;
  border-radius: 8px;
}

.secondary-button a {
  text-decoration: none;
  color: #fe0000;
}

/* Add New button */
.add-button-holder {
  margin: 24px;
}

.add-button {
  display: block;
  height: 52px;
  width: 100%;
  max-width: 680px;
  margin: auto;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid #fe0000;
  border-radius: 16px;
  margin: 25px;
  padding: 18px 20px 16px 20px;
  background-color: rgb(249 250 251);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.card a {
  text-decoration: none;
}

.card p {
  margin-top: 16px;
}

.button-holder {
  display: flex;
  justify-content: end;
  gap: 6px;

  margin-top: 12px;
}

.button-holder button {
  min-height: 36px;
  min-width: 70px;
}

.card:hover {
  transition: 500ms;
  transform-origin: center;
  background-color: rgb(230, 230, 230);
}

/* Heros */
.img-wrapper {
  display: flex;
  justify-content: center;
  margin: 24px 12px 0 12px;
}

.hero img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

main > h2 {
  text-align: center;
}

@media (min-width: 850px) {
  .card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
