html {
  font-size: 18px;
}

.text-1-5x {
  font-size: 1.3rem;
}

.text-2x {
  font-size: 1.4rem;
}

.text-3x {
  font-size: 2rem;
}

.bold {
  font-weight: 700;
}

.light-gray {
  color: rgb(75 85 99);
}

.hidden {
  display: none;
}

/* Cards */
.card {
  border: 2px solid rgb(225, 226, 227);
  border-radius: 16px;
  margin: 25px;
  padding: 18px 20px 16px 20px;
  background-color: rgb(249 250 251);
}

.card p {
  margin-top: 16px;
}

/* CSS for partials */
/* header.ejs */
header {
  margin-top: 24px;
  text-align: center;
}

/* nav.ejs */
nav {
  box-shadow: 0 5px 5px 0px rgb(201, 201, 201);
  padding-bottom: 8px;
}

nav a {
  display: flex;
  align-items: center;

  margin-left: 16px;
  text-decoration: none;
  color: black;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 36px;
  margin-top: 24px;
}

.menu-button {
  display: flex;
  justify-content: center;

  height: 100%;
  background-color: white;
  border: none;
}

.menu-links {
  margin-top: 16px;
}

.menu-links > a {
  padding: 3px;
}
