header {
  margin-top: 24px;
  text-align: center;
}

.text-2x {
  font-size: 1.4rem;
}

.text-3x {
  font-size: 2rem;
}

.bold {
  font-weight: 700;
}

.light-gray {
  color: rgb(75 85 99);
}

.rounded-box {
  border: 2px solid rgb(225, 226, 227);
  border-radius: 16px;
  margin: 25px;
  padding: 18px 20px 16px 20px;
  background-color: rgb(249 250 251);
}
