.hero p {
  margin-top: 12px;
  text-align: center;
}

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero {
    grid-column: span 2;
  }

  .card {
    text-align: center;
  }
}
