nav {
  position: relative;
  overflow: visible;
  border-bottom: 2px solid #FE0000;
  box-shadow: 0 2px 2px 0px #cecece;
}

nav a {
  display: flex;
  align-items: center;

  margin-left: 16px;
  text-decoration: none;
  color: black;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
  padding-bottom: 8px; 
}

.menu-button {
  display: flex;
  justify-content: center;

  height: 100%;
  background-color: white;
  border: none;
}

.menu-links {
  position: absolute;
  width: 100%;
  padding-bottom: 6px;
  background-color: white;
  border-bottom: 2px solid #FE0000;
  box-shadow: 0 2px 2px 0px #cecece;
}

.menu-links > a {
  padding: 3px;
}
