<link rel="stylesheet" href="/css/form.css">
<form action=<%= locals.action %> method="POST" class="form-holder">
  <section class="card">
    <h2>Food Details</h2>
    <label for="title" class="text-sm">Title</label>
    <input name="title" type="text" id="title" minlength="1" maxlength="25"
      <% if (locals.category) { %>
        value="<%= category.title %>"
      <% } %>
    required>
    <label for="description" class="text-sm">Description</label>
    <textarea name="description" id="description" minlength="1" maxlength="400" required
      ><% if (locals.category) { %><%= category.description %><% } %></textarea>
  </section>
  <section class="form-button-holder">
    <button class="secondary-button bold" type="button"><a href="/categories">Cancel</a></button>
    <button class="primary-button" type="submit">Submit</button>
  </section>
</form>